:root {
  --dark-color: #2b2d42;
  --gray-color: #8d99ae;
  --light-color: #edf2f4;
  --primary-color: #ef233c;
  --primary-color-2: #d90429;

  --background-color: var(--light-color);
  --background-contrast-color: var(--dark-color);
}
