$colors: (
  dark-color: #2b2d42,
  gray-color: #8d99ae,
  gray-color-2: #747e8f,
  light-color: #edf2f4,
  primary-color: #ef233c,
  primary-color-2: #d90429,
  background-color: #edf2f4,
  background-contrast-color: #2b2d42,
);

$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);
